$font-size-lg: 1.5rem;
$font-size-vmd: 1.25rem;
$font-size-md: 1.125rem;
$font-size-smd: 1rem;
$font-size-vsm: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-ssm: 0.625rem;
$font-size-exsm: 0.5rem;

$line-height-size-lg: 1.5rem;
$line-height-size-md: 1.125rem;
$line-height-size-smd: 1rem;
$line-height-size-sm: 0.75rem;
$line-height-size-vsm: 0.625rem;

$font-weight-lg: 700;
$font-weight-md: 500;

$margin-size-lg: 1.5rem;
$margin-size-md: 1rem;
$margin-size-sm: 0.75rem;
$margin-size-vsm: 0.625rem;

$padding-size-lg: 1.5rem;
$padding-size-md: 1rem;
$padding-size-sm: 0.75rem;
$padding-size-vsm: 0.625rem;